{{extend 'layout.html'}}
{{=H4(T('API и описание взаимодействия Вашего сайта с нашим сервисом.'))}}
{{#=BEAUTIFY(response._vars)}}

{{=H4(A(T('Полное описание и АПИ'), _href='https://docs.google.com/document/d/1hrAocgSS0ZuBvgLr6oS_dKDFhdQwL12qTJCBTaykzSg/edit?usp=sharing', _target='blank'))}}<br>
<br>
{{=A(T('Сделать счёт для оплаты (без регистрации магазина)'), _href=URL('bill','simple'))}}<br>
<br>
{{=A(T('Сделать тестовый платеж'), _href=URL('test','default','index'))}}<br>
<br>
{{'<ol start="1" type=a>'}}
В первую очередь Вам нужно зарегистрировать Ваш сайт на нашем сервисе (меню "Подключить магазин") и получить номер участника [shop_id]<br><br>
{{=T('Кратко взаимодействие выглядит так')}}:<br>
<ol start="1">
    <li>Создание счета
        <ol start="1" type=a>
            <li>Создавать счет на оплату</li>
            <li>Получать данные об оплате по заданному счету</li>
        </ol>
    </li>
    <li>Проверка оплаты счета
        <ol start="1" type=a>
            <li>Сервис шлет уведомление по указанному адресу после того как клиент оплатил счет через наш сервис</li>
            <li>Ваш сайт запрашивает информацию об оплате у нашего сервиса</li>
        </ol>
    </li>
</ol>
<h3>
    Как работает АПИ чуть подробнее
</h3>
<p>
Ваш пользователь у Вас на сайте вводит в поле данные покупки-оплаты, например ИД покупки-заказа, сумму, свой ЕМАЙЛ (и другие данные) и жмет - далее - ваш скрипт присваивает ему ИД-заказа. Кстати, если  ИД это не номер заказа то ЕМАЙЛ и есть ИД пользователя! Либо у пользователя по его емайлу определяется ИД.
</p>
<p>
Вот когда пользователь нажал далее - Вы берете данные его заказа (обычно ИД) и на основе их через наш АПИ создаете счёт на оплату (это одна команда, результат которой - есть номер созданного счета) и потом перенаправляете пользователя на страницу этого счета на наш сервис. Там пользователь сам оплачивает, а может не оплачивает покупку. Вот когда от него деньги пришли (адрес для оплаты предоставляется от нашего сервиса), то наш сервис шлет уведомление на Ваш сайт. Или там пользователь сам жмет кнопку "проверить поступление денег" - на что Ваш скрипт спрашивает через АПИ у нашего сервиса - а деньги точно пришли? Наш сервис отвечает - ДА! и тогда ваш скрипт шлет письмо покупателю - мол все ОК, заказ оплачен или Ваш аккаунт пополнен на сумму ХХХ
</p>
