{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static','css/anim.css')}}">

{{left_sidebar_enabled=False}}
{{block left_sidebar}}
..<br>
..<br>
{{end}}
{{right_sidebar_enabled=False}}
{{block right_sidebar}}
..
{{end}}



<div class="right-full controls animated bounceInUp -lightSpeedIn">
  {{=H4(T('Это мерчант приема платежей на Вашем сайте таких криптовалют как bitcoin, litecoin и т.д.'))}}
{{=T('Для того чтобы начать принимать платежи со всего мира и (по желанию) получать при этом уже сконвертированные рубли на свой счет в России, проще всего использовать криптовалюту - ведь для платежей криптовалютой не требуются ни каких разрешающих документов. Международные платежи криптовалютой проходят за несколько минут, а комиссия за перевод составляет доли процента. При этом, банкиры не могут повлиять на Ваши платежи ни коим образом - ни заблокировать Ваш счет, ни перевести "по ошибке" - ведь Ваши криптоденьги принаждлежат только Вам и хранятся только на Вашем компьютере, а не в базе некоего банка. Заметим, что некоторые Ваши клиенты уже любят пользоваться криптовалютами.')}}
<br>
{{=T('Если желаете получать новости и уведомления от нашего сервиса, оставьте свой емэйл:')}}
{{=form}}

    <br>
    <p>
        {{=H4(T('Преимущества, Достоинства и Удобства нашего сервиса:'))}}
        <DL>
            <DT>{{=T('Простота регистрации')}}
                <DD>{{=T('Вам не нужно создавать и запоминать свой логин и пароль.')}}
            <DT><br>{{=T('Простота подключения')}}
                <DD>{{=T('API прост - всего одна ссылка на вашем сайте и один запрос на наш сервис в коде вашего сайта.')}}
            <DT><br>{{=T('Возможность оплачивать один счет разными валютами')}}
                <DD>{{=T('Ваши клиенты могут оплачивать один счет разными криптовалютами небольшими суммами.')}}
            <DT><br>{{=T('Возможность оплачивать счет в несколько приемов')}}
                <DD>{{=T('Ваши клиенты могут оплачивать один счет небольшими суммами постепенно.')}}
            <DT><br>{{=T('Повторные платежи на тот же адрес')}}
                <DD>{{=T('Пополнение счетов клиентов делается повторным перечислением на тот же адрес, который Клиент ранее получил на нашем сервисе для оплаты вашего заказа или услуги.')}}
            <DT><br>{{=T('Просмотр истории платежей')}}
                <DD>{{=T('Поступившие платежи отражаются в реальном времени сразу на странице оплаты.')}}
            <DT><br>{{=T('Возможность создавать нескольких счетов для одного заказа')}}
                <DD>{{=T('Вы можете создать несколько счетов для одного и того же заказа, например, выраженые в разных валютах.')}}

        </DL>
    </p>
{{=T('Вот как выглядит')}} 
{{=A(T('оплата счетов'), _href=URL('bill','show', args=[240]), _target='_blank')}}
<BR>
<BR>
  <p>
      {{=T('Подробнее что такое криптовалюта Вы можете узнать на сервисе оплат криптовалютами')}}
      {{=H4(A('7Pay.in', _href='http://7Pay.in/ipay/default/crypto', _target='blank'))}}
  </p>

    <br>
    <br>
    <b>{{#=T('Статистика по использованию криптовалют на этом сервисе:')}}</b><br>
    {{for r in stats:}}
    {{=r._extra['SUM(currs_stats.count)']}} {{=r.currs.name}}<br>
    {{pass}}

</div>
<br>
    <p><b>{{=T('Еще:')}}</b>
Подключив прием оплат в криптовалюте Вы сможете 
{{=A(T('показать себя на карте биткоин-сервисов и магазинов'), _href="http://www.coinmap.org/", _target="blank")}}
    {{=reclams}}
    </p>
банкам конец и про русское золото
<iframe width="560" height="315" src="//www.youtube.com/embed/rEth2XGUkWg" frameborder="0" allowfullscreen></iframe>
