{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static','css/anim.css')}}">

{{=H3(T('Start-Up или как получить шанс на богатство'))}}

{{=T('Суть стартапа в создании международного платежного сервиса, по мощности равного такому монстру как PayPal.')}}<br>
{{=T('Каких либо препятсвий для этого не существует, только мы сами - все зависит от НАС')}}<br>
{{=T('Известно что деньги правят миром, а мы можем брать с них процент...')}}
<br>
{{=A(T('Бизнес-план'), _href='https://docs.google.com/document/d/1aWurh9nHrZi8KK2AVXAOEH6aCYYbBN7nNmyq0foffYI/edit?usp=sharing', _traget='_blank')}}<br>
{{=H3('Стартап запущен!')}}
теперь Вы можете {{=A('вступить в него здесь', _href='http://ipo-polza.ru/')}}
<div class="animated slideInDown">
<br><br><br>
</div>
