{{url=URL('more','to_pay', args=[rec.id],scheme=True, host=True)}}
{{img=IMG(_src=URL('static','images/7Pay_in.png',scheme=True, host=True))}}

{{=T('Здравствуйте, мы рады видеть Вас в нашей компании!')}}

{{=T('Ссылка на витрину Вашего магазина')}} {{=A(rec.name, _href=url)}}
{{=T('Иконка')}} {{=img}}

После создания заказа в Вашем магазине, Вам нужно создать иконку со ссылкой в которой заданы: "аккаунт_клиента", "номер_заказа", "сумма_заказа" и "сообщение_на_витрине". Например так:
{{=A( img, _href=URL('more','to_pay',
	args=[rec.id], #'ed-0456-022','w22-33', 777.55],
	vars={'user':'ed-0456-022', 'order':'w22-33', 'sum':777.55, 'mess': T('Спасибо за покупку')}, scheme=True, host=True)
	)}}

Если параметр опущен, то пустым будет самый последний параметр. Поэтому можно передавать параметры так:
"аккаунт_клиента", "номер_заказа", "сумма_заказа"
"аккаунт_клиента", "номер_заказа"
"аккаунт_клиента"

Когда платеж криптовалюты поступил и был переведен на кошелек Вашего магазина, наш сервис откроет ссылку обратной связи:
{{=rec.resp_url}}
В случа если платеж не прошел, то сообщение об ошибке будет выдано в параметре mess, например так:
{{=rec.resp_url}}?mess=refused

По этой команде Ваш сайт должен проверить поступпившие платежи на Ваш кошелек. В сообщении поступившего на Яндекс-кошелек платежа будет указаны: за какого клиента и за какой заказ этот платеж в следующем формате:
"7Pay.in for [ed-0456-022 w22-33]"
Как видно в комментарии есть "аккаунт_клиента" и "номер_заказа"
